.quest-text {
    color: var(--tertiary-color);
}

.quest-form {

}

.quest-button {
    width: 25vw;
    background-color: var(--secondary-color);
    border-color: var(--tertiary-color);
}

.quest-button:hover {
    background-color: var(--secondary-color);
    border-color: var(--tertiary-color);
    filter: brightness(85%);
}